{% block content %}
    <div class="wyjazd">
        <p>Szczegóły oferty</p>
        <p>{{ wyjazd.wyjazdid}}</p>
        <p>{{ wyjazd.text }}</p>
        <p>{{ wyjazd.ofertaid.opis }}</p>
        <p>{{ wyjazd.cena }}</p>
        <p>{{ wyjazd.datarozpoczecia }}</p>
        <p>{{ wyjazd.datazakonczenia }}</p>
        <p>{{ wyjazd.liczbamiejsc }}</p>
        <p>{{ wyjazd.liczapozostalychmiejsc }}</p>
        <p>{{ wyjazd.rodzajtransportu|linebreaksbr }}</p>
    </div>
{% endblock %}