{% load staticfiles %}
<html>
    <head>
        <title>Biuro podróży</title>
        {# dolaczam z jakiegoś tam mijscea w internecie framework "bootstrap" #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">Oferty biura podróży</a></h1>
    </div>
    <div class="wyjazdy">
        {% for wyjazd in wyjazdy %}    {# iteruje po liscie 'wyjazdy' #}
            <p>Opis powiązanej oferty: {{ wyjazd.ofertaid.opis }}</p>
            <p>Liczba miejsc: {{ wyjazd.liczbamiejsc }}</p>
            <p>cena: {{ wyjazd.cena|linebreaksbr }}</p>
            <a href="{% url 'wyjazdDetail' pk=wyjazd.pk %}"> {{ wyjazd.wyjazdid }} </a>
        {% endfor %}
    </div>
    <div class="oferty">
        {% for oferta in oferty %}
            <p>ID: {{ oferta.ofertaid|linebreaksbr }}</p>
        {% endfor %}
    </div>

    </div>

    </body>
</html>